.cursor{
  z-index: 999;
  position: fixed;
  background: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #ffffff,
              0 0 60px #ffffff,
              0 0 100px #ffffff;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors{
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #f9f9f978;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
  animation: opacity 0.5s infinite;
}
      
@keyframes opacity {
    0% {
        opacity: 0.3;
    } 
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.3;
    }
}