@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Lobster&family=Noto+Sans+Display:ital,wght@1,900&family=Play:wght@400;700&family=Poppins:wght@800&family=Righteous&family=Rubik+Mono+One&family=Russo+One&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.ttf') format('ttf'),
    /* Add more font formats (e.g., ttf, svg) as needed */
  }
  
body {
    background-color: #004AAD;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: none;
}

#mainNav {
  padding: 0.35rem;
  background-color: #fff;
  margin: 10px 20px;
  border-radius: 15px;
}

h1.display-1.lh-1.mb-3 {
    position: relative;
    font-size: 90px !important;
    font-family: "Fugaz One", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 68px; */
    color: white;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
    margin-bottom: 35px;
}

.text-blue-sky {
    color: #24f5ff;
}
.text-shadow-black {
    text-shadow: 6px 6px 5px #0000009e;
}

.typewrite {
    font-size: 30px;
    color: #f6ffff;
    position: absolute;
    text-shadow: 6px 4px 10px #000000;
}

#home-element-one {
    position: absolute;
    top:15%;
    left: 64%;
}

#home-element-two {
    position: absolute;
    top: 20%;
    left: 62%;
    /* rotate: -20deg; */
}

#whats-element-one {
    position: absolute;
    bottom:45%;
    left: 40%;
 }

#tona-logo {
  margin-left: 20px !important;
}

section#about-section {
    background: #004AAD;
}

.header-bg {
    /* background: url(https://images.hdqwalls.com/wallpapers/futuristic-city-dark-evening-rain-4k-o8.jpg); */
    background: url(../img/Metaverse-3.png);
    background-size: cover;
    filter: blur(0px) opacity(0.85);
    position: fixed;
    height: 775px;
    width: 1600px;
    transition: 0.5s ease-in-out;
}

#home-section {
    background: url('../img/bg.png');
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-size: 1370px;
    background-position-y: top;
    height: 700px;
}

.bg-blue {
    background: #004AAD;
}

.l-side-nav {
    position: fixed;
    display: flex;
    height: 100%;
    align-items: center;
    right: 90%;
    z-index: 9999;
}

.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #000;
    opacity: .35;
    z-index: 0;
}
@media (max-width: 1180px){
    .l-side-nav{
        display:none
    }
}
side-nav{
    position:relative;
    padding: 15px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100px;
    height:70%;
    max-height:750px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    margin:0;
    padding:0;
    list-style-position:inside;
    z-index:10
}
.side-nav>li {
    position: relative;
    top: -5px;
    color: #111;
    font-size: 15px;
    cursor: pointer;
    display: list-item;
    text-align: left;
}
.side-nav>li span{
    position:relative;
    top:3px;
    left:10px;
    color:#111;
    font-size:14px;
    font-weight:700;
    opacity:0;
    visibility:hidden
}
.side-nav>li::before{
    position:absolute;
    top:3px;
    left:10px;
    color:#111;
    font-size:14px;
    font-weight:300
}
.side-nav li:nth-child(1)::before{
    content:"01"
}
.side-nav li:nth-child(2)::before{
    content:"02"
}
.side-nav li:nth-child(3)::before{
    content:"03"
}
.side-nav li:nth-child(4)::before{
    content:"04"
}
.side-nav li:nth-child(5)::before{
    content:"05"
}
.side-nav li.is-active{
    color:#00ff89;
    -webkit-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out
}
.side-nav li.is-active span{
    opacity:1;
    visibility:visible;
    -webkit-transition:opacity .4s ease-in-out;
    transition:opacity .4s ease-in-out
}
.side-nav li.is-active::before{
    left:-33px;
    color:#fff
}

.home-banner {
    padding: 5px;
}

#weekly-banner {
    background-image: url(../img/banner-2.png);
    background-color: #ffffff57;
    background-size: 32vh;
    background-position-x: center;
    background-position-y: center;
    justify-self: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 255px;
    height: 130px;
    margin: 4px;
}

#tona-banner {
    background-image: url(../img/banner-1.png);
    background-color: #ffffff57;
    background-size: 32vh;
    background-position-x: center;
    background-position-y: center;
    justify-self: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 255px;
    height: 130px;
    margin: 4px;
}

#lottery-banner {
    background-image: url(../img/banner-3.png);
    background-color: #ffffff57;
    background-size: 32vh;
    background-position-x: center;
    background-position-y: center;
    justify-self: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 255px;
    height: 130px;
    margin: 4px;
}

.intro--options a p {
    position: relative;
    line-height: 35px;
    top: 10%;
    font-size: 40px;
    font-weight: 400;
    color: #004AAD;
    font-family: 'Bebas Neue', 'Rubik Mono One';
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
}

.intro--options a p:hover {
    color: #FFF;
}

#whats-text {
    text-align: start;
    color: azure !important;
    white-space: unset;
}

.whats-text-parent-div {
    width: 1200px;
    margin-left: 50px !important;
}

#roadmap-title {
    text-align: center;
    margin: 20px;
}

.team-box {
    color: white;
    text-align: center;
}

.team-box h3 {
    margin-top: 15px;
}

.img-fluid {
    width: 235px;
    border-radius: 15px;
}

