@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
  animation: shine 2s forwards, flicker 3s infinite;
}

.sign h1{
  font-size: 90px !important;
  /* font-family: "Kvant W01 Bold"; */
}


@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #e6fffc;
    text-shadow: 0 0 0.6rem #e6fffc, 0 0 1.5rem #65f7ff,
      -0.2rem 0.1rem 1rem #65f7ff, 0.2rem 0.1rem 1rem #65f7ff
    }
  28%,
  33% {
    color: #65f7ff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #00ffe5;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #26df63;
    text-shadow: none;
  }
  100% {
    color: #e6fffc;
    text-shadow: 0 0 0.6rem #e6fffc, 0 0 1.5rem #65f7ff,
      -0.2rem 0.1rem 1rem #65f7ff, 0.2rem 0.1rem 1rem #65f7ff,
      0 -0.5rem 1rem #19ffe8, 0 0.5rem 3rem #19ffe8;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
