@media (min-width:1200px) and (max-width: 1500px) {
    .intro--banner #home-element-one {
        left: 87%;
        width: 390px !important;
    }
    .intro--banner #home-element-two {
        left: 60%;
    }
    .l-side-nav {
        right: 90%;
    }
    #whats-text {
        position: relative;
        left: 55px;
    }
    #whats-element-one {
        position: absolute;
        bottom: 45%;
        left: 60%;
    }
    h1.display-1.lh-1.mb-3 {
        left: 55px;
    }
}

@media (min-width:1500px) and (max-width: 2100px) {
    .mt-xl-6 {
        margin-top: 4rem !important;
    }
}

@media (max-width: 600px){
    h1.display-1.lh-1.mb-3 {
        margin-left: 15px;
        font-size: 30px !important;
        font-weight: 100;
        font-family: "Fugaz One";
    }
    #whats-title {
        margin-top: 180px !important;
        margin-bottom: 0px !important;
    }
    section#about-section {
        padding-bottom: 0px;
    }
    section#about-section .container-fluid {
       padding-left: 0.5rem !important;
       padding-right: 0.5rem !important;
    }
    #whats-text {
        font-size: 17px;
    }
    .col-lg-6.intro--options {
        display: grid;
    }
    .col-lg-6.intro--options.mt-5 {
        position: absolute;
        width: 340px;
        top: 475px;
        right: 0%;
        left: auto;
        justify-content: center;
        padding: 0px;
    }
    .typewrite {
        font-size: 16px;
    }
    #home-element-one {
        display: none;
    }
    #home-element-two {
        width: 250px !important;
        top: 25%;
        left: 14%;
    }
    #whats-element-one {
        width: 90px !important;
        top: 45%;
        left: 55%;
        rotate: 5deg;
    }
    .navbar > .container.px-5 {
        display: contents;
    }
    img#tona-logo {
        width: 36px;
        margin-left: 15px !important;
    }
    .whats-text-parent-div {
        margin-left: 0px !important;
        padding: 0px;
    }
    .whats-text-parent-div {
        margin-left: 0px !important;
        margin-top: 15px;
        overflow: scroll;
        max-height: 420px;
        font-size: 11px;
        padding: 0px;
    }
    #roadmap-section #parent-ul .parent-li {
        position: relative;
        list-style-type: none;
        width: 6px;
        background-color: white;
        color: azure;
        margin: auto 15px;
        padding-top: 50px;
    }
    #roadmap-section #parent-ul .parent-li:nth-child(even) div {
        left: 45px !important;
    }
    #social-section a img {
        width:50px;
        height:50px;
        margin: 0px 10px;
    }
    .intro--options {
        background: none;
    }
    .team-box { 
        width: 160px !important;
    }
    .img-fluid {
        width: 145px;
    }
    #team-section .row .mt-5 {
        justify-content:center;
    }
    #team-section, #roadmap-section {
        padding-top: 0rem !important;
    }
    #about-section {
        padding-top: 7rem !important;
    }
    #team-div-parent {
        justify-content: center;
    }
    .container-fluid.px-5 {
        background: #4980ff91;
        border-radius: 27px;
        margin-top: 20px;
    }
    .header-bg {
        background: url(../img/bg-mobile.png) !important;
        background-size: cover;
        filter: blur(2px) opacity(1) drop-shadow(2px 4px 6px black);
        height: 115vh;
        background-position: left;
        width: 100vw;
    }
    #home-section .col-lg-6.mb-5 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .intro--options a p {
        left: 15%;
        font-size: 35px;
    }
}

@media (max-width: 600px) and (max-height: 900px){
    .intro--options{
        display:none;
    }
}

@media (max-width: 600px) and (min-height: 675px) and (max-height: 900px) {
    .col-lg-6.intro--options.mt-5 {
        width: 340px;
        left: 7%;
        top: 60%;
    }
    .intro--options>a {
        max-width: 310px;
    }
    #home-element-two {
        width:250px !important;
        top: 25%;
        left: 20%;
    }
}

@media (width:360px){
    .header-bg, #socials-section, footer {
        width: 110vw;
    }
}

@media (min-width:330px) and (max-width:400px) {
    h1.display-1.lh-1.mb-3 {
        font-size: 50px !important;
        color: white;
    }
    .typewrite {
        font-size: 20px;
        color: white;
    }
}

@media (min-width:200px) and (max-width:400px){
    section#socials-section img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:400px) and (max-width:460px){
    section#socials-section img {
        width: 50px;
        height: 50px;
        margin: 6px;
    }
}
