#roadmap-section #parent-ul {
  padding: 50px 0;
}

#roadmap-section #parent-ul .parent-li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: white;
  color: azure;
  margin: 0 auto;
  padding-top: 50px;
}

#roadmap-section #parent-ul .parent-li::after {
  background: white;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


#roadmap-section #parent-ul .parent-li div{
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgba(42,50,113, .28);
}

#roadmap-section #parent-ul .parent-li:nth-child(odd) div {
  left: 45px;
}

#roadmap-section #parent-ul .parent-li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

#roadmap-section #parent-ul .parent-li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

#roadmap-section #parent-ul .parent-li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

#roadmap-section #parent-ul .parent-li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

#roadmap-section #parent-ul .parent-li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  #roadmap-section #parent-ul .parent-li div {
    width: 250px;
  }
  #roadmap-section #parent-ul .parent-li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}